framework:
    messenger:
        default_bus: command.bus
        buses:
            command.bus: ~
        transports:
            async: '%env(MESSENGER_TRANSPORT_DSN)%'
            failed: 'doctrine://default?queue_name=failed'
        failure_transport: failed

        routing:

