TIMEZONE=Europe/Warsaw
APP_ENV=dev
BIND_IP=0.0.0.0
APP_SECRET=31c70d4082037e4bb56379bc0d7f26b4
DEFAULT_URI=http://localhost
APP_PORT=80
APP_PORT_SSL=443
MYSQL_PORT=3306
PHP_PORT=9999
RABBIT_PORT=5672
RABBIT_PORT_MANAGEMENT=15672
DATABASE_URL=
MESSENGER_TRANSPORT_DSN=

MAILER_DSN=null://null
TWILIO_DSN=twilio://AC5b96dcceff570c5142c30c3d2d49f21c:925bcd4abc94a034728d17309a41e400@default?from=+19522431820

EMAIL_NOTIFICATION_ENABLE=1
SMS_NOTIFICATION_ENABLE=1
